:80 {
  encode zstd gzip

  handle_path /ai-clip-api/* {
    reverse_proxy ai-clip:4175
  }

  respond /spite/api/internal/* 404
  respond /api/internal/* 404

  handle /spite/ws* {
    reverse_proxy spite-realtime:3007
  }

  handle /spite* {
    reverse_proxy spite:3005
  }

  handle {
    reverse_proxy nexoclip:3000
  }
}
